<span id="choice">
<%= f.radio_button :answer, array[0] %>
<%= f.label :answer, array[0] %>
<%= f.radio_button :answer, array[1] %>
<%= f.label :answer, array[1] %>
<%= f.radio_button :answer, array[2] %>
<%= f.label :answer, array[2] %>
</span>