<h1>確認画面</h1>
<table>
    <thead>
        <tr>
        <th></th>
        <th>問題</th>
        <th>回答</th>
        <th>正解・不正解</th>
        </tr>
    </thead>
    <tbody>
    <% @postbooks.each do |postbook| %>
        <tr>
            <td>
            <%= postbook.question_id %>
            </td>
            <td>
            <%= Post.find_by(id: postbook.post_id).word %>
            </td>
            <td>
            <%= postbook.answer %>
            </td>
            <td>
            <%= postbook.judgment %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<p>10点中<%= @score%>点！</p>

<br>
<%= link_to("ランキングはこちら", "/workbooks/myranking")%><br>
<%= link_to("単語帳一覧へ", "/workbooks/flashcard")%><br>
<%= link_to("新規登録","/posts/new")%><br>
<%= link_to("メニューへ戻る","/main")%>