<h1>確認画面</h1>
<table>
    <thead>
        <tr>
        <th>問題</th>
        <th>回答</th>
        <th>正解・不正解</th>
        </tr>
    </thead>
    <tbody>
    <% @postbooks.each do |postbook| %>
    <% @post_id = postbook.post_id %>
        <tr>
            <td>
            <%= link_to @post = Post.find_by(id: @post_id).word, controller: :workbooks, action: :new_flashcard  %>
            </td>
            <td>
            <%= @answer = postbook.answer %>
            </td>
            <td>
            <span id="judge">
            <%if postbook.judgment == "true"%>
                <%@judge = "正解"%>
            <%else%>
                <%@judge = "不正解"%>
            <%end%>
            <%= @judge %>
            </span>
            </td>
        </tr>
    <%end%>
    </tbody>
</table>

<p>10点中<%= @score%>点！</p>

<br>
<%= link_to("新規登録","/posts/new")%><br>
<%= link_to("メニューへ戻る","/main")%>