<h1>新規登録</h1>
    <% @user.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
    <%= form_tag("/users/create") do%>
        <p>name</p>
            <input name="name" value="<%= @user.name %>">
        <p>email</p>
            <input name="email" value="<%= @user.email %>">
        <p>password</p>
            <input type="password" name="password">
            <br>
            <input type="password" name="password_confirmation">
            <input type="submit" value="登録する">
    <% end%>
    <br>
    <%= link_to("ログインする","/login")%>
    <br>
    <%= link_to("トップに戻る","/")%>