<h1>単語帳</h1>
<%= link_to("単語タグマスタ","/tags/tagmaster")%><br>
<%= link_to("単語マスタ","/posts/wordmaster")%><br>
<%= link_to("単語帳","/workbooks/flashcard")%><br>
<%= link_to("ランキング","/posts/ranking")%><br>
<%= link_to "ログアウト",logout_path%>