<%= form_with url: search_path , local:true, method: :get, class: "search-form" do |f| %>
    <%= f.text_field :keyword, placeholder:"検索する", class:"search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>タグ</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to(tag.tag, "/tags/#{tag.id}/show")  %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= link_to("新規登録","/tags/new")%><br>
<%= link_to("タグマスタメニューへ戻る","/tags/tagmaster")%>