<h1>タグ</h1>
<%= @tag.tag%><br>
<%if @tag.user_id == @current_user.id %>
<%= link_to("編集","/tags/#{@tag.id}/edit")%>
<%= link_to("削除","/tags/#{@tag.id}/destroy") %>
<% end %>
<br>
<% @posts.each do |post|%>
<%= post.word %><br>
<% end %>

<%= link_to "戻る", :back%>
