<%= form_tag("search", method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'search', tag: nil %>
<% end %>
<table>
  <thead>
    <tr>
      <th>タグ</th>
      <th>単語</th>
      <th>意味</th>
      <th>類義語</th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post|%>
  <% post %>
    <tr>
      <td>
      <% @postag = PostTag.find_by(post_id: post.id) %>
      <%if @postag.tag_id != nil %>
      <%@tag = Tag.find_by(id: @postag.tag_id)%>
      <%= link_to(@tag.name,"/posts/#{post.id}") %>
      <%end %>
      </td>
      <td><%= link_to(post.word, "/posts/#{post.id}") %></td>
      <td><%= link_to(post.mean, "/posts/#{post.id}") %></td>
      <td>
      <% @synonym = Synonym.find_by(post_id: post.id) %>
      <%if @synonym != nil%>
      <%= link_to(@synonym.synonym, "/posts/#{post.id}") %>
      <%end%>
      </td>
    </tr>
<%end%>
  </tbody>
</table>

<br>
<%= link_to("新規登録","/posts/new")%><br>
<%= link_to("メニューへ戻る","/main")%>